registry=https://registry.npmjs.org/
enable-pre-post-scripts=true
engine-strict=true
auto-install-peers=false
link-workspace-packages=true
strict-peer-dependencies=false
# https://pnpm.io/npmrc#public-hoist-pattern
# config
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*lint-staged*
public-hoist-pattern[]=*prettier*
# typescript
public-hoist-pattern[]=*types*
